<div>
  <div class="clr-row">
    <div class="clr-col-lg-3 clr-offset-1">
      <img src="assets/avatar.svg" class="big-avatar">
    </div>
    <div class="clr-col-lg-8">
      <div class="clr-row"><h1>Иванов Иван</h1></div>
      <div class="clr-row level"><h2> Lvl. 35</h2></div>
      <div class="clr-row"><progress class="clr-col-10 progress-static exp-progress" value="40" max="100"></progress><span>167/350</span></div>
      <div class="clr-row">
        <div *ngFor="let i of numbers"><img class="achievement-small" src="assets/achievement-{{i}}.png" alt='Ачивка'></div>
      </div>
    </div>
  </div>
</div>


<div class="clr-offset-lg-1 clr-col-lg-10">
  <h2>Мои челенжди:</h2>
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th>Дата окончания</th>
      <th>Подробности</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="left clr-align-middle achievement-column"><img class="achievement-xsmall" src="assets/achievement-6.png" alt="Achievement"><b>Сдать сертификат OCP</b></td>
      <td class="clr-align-middle date-column">Nov 18, 2019</td>
      <td class="align-middle">{{(str1.length > 120) ? (str1 | slice:0:120) + '..' : (str1)}}</td>
    </tr>
    <tr>
      <td class="left clr-align-middle achievement-column"><img class="achievement-xsmall" src="assets/achievement-4.png" alt="Achievement"><b>Пробежать марафон</b></td>
      <td class="clr-align-middle date-column">Nov 19, 2019</td>
      <td class="align-middle">{{(str2.length > 120) ? (str2 | slice:0:120) + '..' : (str2)}}</td>
    </tr>
    <tr>
      <td class="left clr-align-middle achievement-column"><img class="achievement-xsmall" src="assets/achievement-7.png" alt="Achievement"><b>Победить в хаккатоне</b></td>
      <td class="clr-align-middle date-column">Nov 16, 2019</td>
      <td class="align-middle">{{(str3.length > 120) ? (str3 | slice:0:120) + '..' : (str3)}}</td>
    </tr>
    <tr *ngFor="let challenge of myChallenges()">
      <td class="left clr-align-middle achievement-column"><img class="achievement-xsmall" src="assets/{{challenge.img}}" alt="Achievement"><b>{{challenge.name}}</b></td>
      <td class="clr-align-middle date-column">{{challenge.dateTo|date: 'mediumDate'}}</td>
      <td class="align-middle">{{(challenge.title.length > 120) ? (challenge.title | slice:0:120) + '..' : (challenge.title)}}</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="clr-col-lg-10 clr-offset-lg-1">
  <h2>Лидеры</h2>
  <div class="clr-row">
    <div class="clr-col-lg-4 clr-col-md-6 clr-col-12">
      <div class="card">
        <div class="card-header">
          Неделя:
        </div>
        <div class="card-block">
          <div class="card-media-block">
            <img src="assets/avatar.svg" class="card-media-image">
            <div class="card-media-description">
                        <span class="card-media-title">
                            Иванов Иван
                        </span>
              <span class="card-media-text">
                            Lvl.35 124/125
                        </span>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="card-media-block">
            <img src="assets/avatar.svg" class="card-media-image">
            <div class="card-media-description">
                        <span class="card-media-title">
                            Васильев Олег
                        </span>
              <span class="card-media-text">
                            Lvl.1 12/14
                        </span>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="card-media-block">
            <img src="assets/avatar.svg" class="card-media-image">
            <div class="card-media-description">
                        <span class="card-media-title">
                            Петренко Андрей
                        </span>
              <span class="card-media-text">
                            Lvl.999 99999/999999
                        </span>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="card-media-block">
            <img src="assets/avatar.svg" class="card-media-image">
            <div class="card-media-description">
                        <span class="card-media-title">
                            Вертинская Ольга
                        </span>
              <span class="card-media-text">
                            Lvl.5 125/126
                        </span>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="card-media-block">
            <img src="assets/avatar.svg" class="card-media-image">
            <div class="card-media-description">
                        <span class="card-media-title">
                            Савочкин Егор
                        </span>
              <span class="card-media-text">
                            Lvl.56 65675/786786
                        </span>
            </div>
          </div>
        </div>
        <!--        <div class="card-footer">-->
        <!--          <button class="btn btn-sm btn-link">Больше...</button>-->
        <!--        </div>-->
      </div>
    </div>
    <div class="clr-col-lg-4 clr-col-md-6 clr-col-12">
      <div class="card">
        <div class="card-header">
          Месяц:
        </div>
        <div class="card-block">
          <div class="card-media-block">
            <img src="assets/avatar.svg" class="card-media-image">
            <div class="card-media-description">
                        <span class="card-media-title">
                            Вертинская Ольга
                        </span>
              <span class="card-media-text">
                            Lvl.5 125/126
                        </span>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="card-media-block">
            <img src="assets/avatar.svg" class="card-media-image">
            <div class="card-media-description">
                        <span class="card-media-title">
                            Васильев Олег
                        </span>
              <span class="card-media-text">
                            Lvl.1 12/14
                        </span>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="card-media-block">
            <img src="assets/avatar.svg" class="card-media-image">
            <div class="card-media-description">
                        <span class="card-media-title">
                            Петренко Андрей
                        </span>
              <span class="card-media-text">
                            Lvl.999 99999/999999
                        </span>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="card-media-block">
            <img src="assets/avatar.svg" class="card-media-image">
            <div class="card-media-description">
                        <span class="card-media-title">
                            Иванов Иван
                        </span>
              <span class="card-media-text">
                            Lvl.35 124/125
                        </span>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="card-media-block">
            <img src="assets/avatar.svg" class="card-media-image">
            <div class="card-media-description">
                        <span class="card-media-title">
                            Савочкин Егор
                        </span>
              <span class="card-media-text">
                            Lvl.56 65675/786786
                        </span>
            </div>
          </div>
        </div>
        <!--        <div class="card-footer">-->
        <!--          <button class="btn btn-sm btn-link">Больше...</button>-->
        <!--        </div>-->
      </div>
    </div>
    <div class="clr-col-lg-4 clr-col-md-6 clr-col-12">
      <div class="card">
        <div class="card-header">
          Всё время:
        </div>
        <div class="card-block">
          <div class="card-media-block">
            <img src="assets/avatar.svg" class="card-media-image">
            <div class="card-media-description">
                        <span class="card-media-title">
                            Савочкин Егор
                        </span>
              <span class="card-media-text">
                            Lvl.56 65675/786786
                        </span>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="card-media-block">
            <img src="assets/avatar.svg" class="card-media-image">
            <div class="card-media-description">
                        <span class="card-media-title">
                            Васильев Олег
                        </span>
              <span class="card-media-text">
                            Lvl.1 12/14
                        </span>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="card-media-block">
            <img src="assets/avatar.svg" class="card-media-image">
            <div class="card-media-description">
                        <span class="card-media-title">
                            Петренко Андрей
                        </span>
              <span class="card-media-text">
                            Lvl.999 99999/999999
                        </span>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="card-media-block">
            <img src="assets/avatar.svg" class="card-media-image">
            <div class="card-media-description">
                        <span class="card-media-title">
                            Вертинская Ольга
                        </span>
              <span class="card-media-text">
                            Lvl.5 125/126
                        </span>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="card-media-block">
            <img src="assets/avatar.svg" class="card-media-image">
            <div class="card-media-description">
                        <span class="card-media-title">
                            Иванов Иван
                        </span>
              <span class="card-media-text">
                            Lvl.35 124/125
                        </span>
            </div>
          </div>
        </div>
        <!--        <div class="card-footer">-->
        <!--          <button class="btn btn-sm btn-link">Больше...</button>-->
        <!--        </div>-->
      </div>
    </div>
  </div>
</div>
