.no-margin{
  margin: 0!important;
}

.big-avatar{
  width:10rem;
  height: 10rem;
  border-radius: 5rem;
}

.achievement-small{
  width:2.5rem;
  margin-left: -.5rem;
  /*border-radius: 1.5rem;*/
  /*border: .15rem solid white;*/
}

.achievement-xsmall {
  width: 2em;
}

.achievement-column {
  width: 20%;
}
.date-column{
  width: 10%;
}

.exp-progress {
  height: 1.5em;
  margin-bottom:2em;
}

.level {
  margin-top: 0;
}
