<div class="main-container">
  <header class="header header-4">
    <div class="branding">
      <a routerLink="/main"  class="nav-link">
        <img class="logo-lanit" src="assets/logo.png" alt="Logo"/>
        <span class="title appname">ЛАНИТ Challenges</span>
      </a>
    </div>
    <div class="header-nav">
      <a routerLink="/main" [ngClass]="{'active': router.url==='/main'}" class="nav-link nav-text">Главная</a>
      <a routerLink="/achievements" [ngClass]="{'active': router.url==='/achievements'}" class="nav-link nav-text">Челленджи</a>
<!--      <a routerLink="/stats" [ngClass]="{'active': router.url==='/stats'}" class="nav-link nav-text">Статистика</a>-->
    </div>
    <div class="header-actions">
      <a href="..." class="nav-link nav-text">
        Log Out
      </a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
