.achievement-xsmall {
  width: 2em;
}
.achievement-column {
  width: 20%;
}
.date-column{
  width: 10%;
}

.achievement-modal-img {
  width:40%;
}

.challenge-description {
  margin-top: 2em;
}

.avatar-small {
  width: 4em;
  border-radius: 2em;
  display: inline;
  margin-right: .25em;
  margin-bottom: .25em;
}
