<div class="clr-offset-lg-1 clr-col-lg-10">
  <div class="clr-col-lg-2 clr-offset-lg-10 ">
    <button type="button" class="btn clr-float-xs-right" aria-label="home" (click)="openCreateModal=true">
      <clr-icon shape="check"></clr-icon>
      Создать
    </button>
  </div>
  <div class="clr-row">
    <div class="clr-col-lg-11"><h2>Обучение</h2></div>
  </div>

  <div class="clr-row">
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th>Дата окончания</th>
        <th>Подробности</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let challenge of getChallengesEducation()" (click)="openView(challenge.id)">
        <td class="left clr-align-middle achievement-column"><img class="achievement-xsmall"
                                                                  src="{{'assets/'+challenge.img}}"
                                                                  alt="Achievement"><b>{{challenge.name}}</b></td>
        <td class="clr-align-middle date-column">{{challenge.dateTo|date: 'mediumDate'}}</td>
        <td
          class="align-middle">{{(challenge.title.length > 120) ? (challenge.title | slice:0:120) + '..' : (challenge.title)}}</td>
      </tr>
      </tbody>
    </table>

  </div>
  <h2>Работа</h2>
  <div class="clr-row">
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th>Дата окончания</th>
        <th>Подробности</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let challenge of getChallengesWork()" (click)="openView(challenge.id)">
        <td class="left clr-align-middle achievement-column"><img class="achievement-xsmall"
                                                                  src="{{'assets/'+challenge.img}}"
                                                                  alt="Achievement"><b>{{challenge.name}}</b></td>
        <td class="clr-align-middle date-column">{{challenge.dateTo|date: 'mediumDate'}}</td>
        <td
          class="align-middle">{{(challenge.title.length > 120) ? (challenge.title | slice:0:120) + '..' : (challenge.title)}}</td>
      </tr>
      </tbody>
    </table>

  </div>
  <h2>Спорт</h2>
  <div class="clr-row">
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th>Дата окончания</th>
        <th>Подробности</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let challenge of getChallengesSport()" (click)="openView(challenge.id)">
        <td class="left clr-align-middle achievement-column"><img class="achievement-xsmall"
                                                                  src="{{'assets/'+challenge.img}}"
                                                                  alt="Achievement"><b>{{challenge.name}}</b></td>
        <td class="clr-align-middle date-column">{{challenge.dateTo|date: 'mediumDate'}}</td>
        <td
          class="align-middle">{{(challenge.title.length > 120) ? (challenge.title | slice:0:120) + '..' : (challenge.title)}}</td>
      </tr>
      </tbody>
    </table>

  </div>
  <h2>Развлечения</h2>
  <div class="clr-row">
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th>Дата окончания</th>
        <th>Подробности</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let challenge of getChallengesFun()" (click)="openView(challenge.id)">
        <td class="left clr-align-middle achievement-column"><img class="achievement-xsmall"
                                                                  src="{{'assets/'+challenge.img}}"
                                                                  alt="Achievement"><b>{{challenge.name}}</b></td>
        <td class="clr-align-middle date-column">{{challenge.dateTo|date: 'mediumDate'}}</td>
        <td
          class="align-middle">{{(challenge.title.length > 120) ? (challenge.title | slice:0:120) + '..' : (challenge.title)}}</td>
      </tr>
      </tbody>
    </table>

  </div>
  <h2>Наставничество</h2>
  <div class="clr-row">
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th>Дата окончания</th>
        <th>Подробности</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let challenge of getChallengesMentorship()" (click)="openView(challenge.id)">
        <td class="left clr-align-middle achievement-column"><img class="achievement-xsmall"
                                                                  src="{{'assets/'+challenge.img}}"
                                                                  alt="Achievement"><b>{{challenge.name}}</b></td>
        <td class="clr-align-middle date-column">{{challenge.dateTo|date: 'mediumDate'}}</td>
        <td
          class="align-middle">{{(challenge.title.length > 120) ? (challenge.title | slice:0:120) + '..' : (challenge.title)}}</td>
      </tr>
      </tbody>
    </table>

  </div>
  <h2>Разное</h2>
  <div class="clr-row">
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th>Дата окончания</th>
        <th>Подробности</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let challenge of getChallengesOther()" (click)="openView(challenge.id)">
        <td class="left clr-align-middle achievement-column"><img class="achievement-xsmall"
                                                                  src="{{'assets/'+challenge.img}}"
                                                                  alt="Achievement"><b>{{challenge.name}}</b></td>
        <td class="clr-align-middle date-column">{{challenge.dateTo|date: 'mediumDate'}}</td>
        <td
          class="align-middle">{{(challenge.title.length > 120) ? (challenge.title | slice:0:120) + '..' : (challenge.title)}}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
<clr-modal [(clrModalOpen)]="openCreateModal">
  <h3 class="modal-title">Бросить вызов</h3>
  <div class="modal-body">
    <form clrForm class="clr-form-horizontal">
      <div class="clr-row" *ngIf="imgURL">
        <div class="clr-col-lg-8 clr-offset-lg-2 text-center">
          <img class="achievement-modal-img" [src]="imgURL" alt="Ачивка">
        </div>
      </div>
      <div class="form-group clr-col-lg-8 clr-offset-lg-2">
        <input type="file"
               id="file"
               (change)="handleFileInput($event.target.files)">
      </div>
      <clr-input-container>
        <label>Название</label>
        <input clrInput type="text" [(ngModel)]="challengeToCreate.name" name="example"
               placeholder="Придумай классное имя"/>
      </clr-input-container>
      <clr-input-container>
        <label>Награда (очков)</label>
        <input clrInput type="text" [(ngModel)]="challengeToCreate.exp" name="example"
               placeholder="Сколько очков опыта получит выполнивший"/>
      </clr-input-container>
      <clr-input-container>
        <label>Категория</label>
        <select size="1" clrInput [(ngModel)]="challengeToCreate.type" name="example">
          <option *ngFor="let type of challegeTypes()">{{type}}</option>
        </select>
      </clr-input-container>
      <clr-date-container>
        <label>Выполнит до</label>
        <input type="date" [(clrDate)]="challengeToCreate.dateTo">
      </clr-date-container>
      <div class="row challenge-description">
      <textarea challenge- clrTextarea class="clr-col-sm-12" [(ngModel)]="challengeToCreate.title" name="description"
                placeholder="Придумай что нужно будет сделать"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="createChallenge()">Готово</button>
    <button type="button" class="btn btn-outline" (click)="cancelCreation()">Отмена</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="openViewModal">
  <h2 class="modal-title">{{challengeToView.name}}</h2>
  <div class="modal-body">
    <div class="clr-row">
      <div class="clr-col-lg-8 clr-offset-lg-2 text-center">
        <img class="achievement-modal-img" src="{{'assets/'+challengeToView.img}}" alt="Ачивка">
      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col-lg-12 text-center"><h3>+{{challengeToView.exp}} очков</h3></div>
    </div>
    <div class="clr-row">
      <div class="clr-col-sm-12">
        <h3>Описание:</h3>
        {{challengeToView.title}}
      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col-sm-12">
        <h3>Сроки:</h3>
        До {{challengeToView.dateTo|date: 'mediumDate'}}
      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col-sm-12">
        <h3>Участники:</h3>
      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col-sm-12">
        <span *ngFor="let participant of getParticipants(challengeToView.participantsIds)"><img class="avatar-small"
                                                                                                src="assets/avatar.svg"
                                                                                                alt='Участник'></span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="takeChallenge()">Участвую</button>
    <button type="button" class="btn btn-outline" (click)="closeViewModal()">Отмена</button>
  </div>
</clr-modal>
